/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .topBanner {
  font-size: 20px;
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topBannerTitle {
  background: linear-gradient(70deg, #cb2922, #a12827 80%);
  font-size: 54px;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

html[data-theme='dark'] .topBannerTitleText {
  /* background: linear-gradient(45deg, #c00000, #ffc000 80%); */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.topBannerDescription {
  font-size: 20px;
}

.logobanner {
  margin: 0 auto;
  position: relative;
  width: 70%;
  height: 30%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroBanner {
  background: #CB9173;
  padding: 3rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroBannerTitle {
  color: color-mix(in srgb, #cb2922 50%, #a12827 50%);
  font-size: 54px;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

.heroBannerTagline {
  color: #8E443D;
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  grid-gap: 2rem;
  /* margin: 1rem 0; */
}

.badgeWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
}

.otherbanner {
  display: flex;
  color: #ffffff;
  letter-spacing: 5px;
  font-weight: bold;
  background: #bababa;
  align-items: center;
  justify-content: center;
  font-size: 23px;
}
